*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  
}
.container{
  background-color: rgba(255, 255, 255, 0.35) !important;
  box-shadow: 0 8px 32px 0 rgba(125, 130, 199, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 80px auto;
  width: 90%;
  margin: 10px auto;
} 
.stepper{
  background-color: transparent !important;
}
.checkbox{
}